<ion-app *ngIf="user_status == 'admin'">
  <ion-content class="">
    <div class="card-header ion-padding">
      <p class="card-subtitle">Detail Poin Kelompok</p>
      <h1 class="card-title">{{ nama_kelompok }}</h1>

      <p>
        Total Koin: <span style="font-weight: 750">{{ total_koin_old }}</span>
      </p>
      <ion-grid [fixed]="true">
        <ion-row class="">
          <ion-col size="" class="">
            <ion-card class="center-content point-card space-betweend">
              <img src="../assets/img/koin1.png" style="width: 30%" />
              <h3>{{ koin1_old }}</h3>
            </ion-card>
          </ion-col>

          <ion-col size="" class="">
            <ion-card class="center-content point-card space-betweend">
              <img src="../assets/img/koin5.png" style="width: 30%" />
              <h3>{{ koin5_old }}</h3>
            </ion-card>
          </ion-col>

          <ion-col size="" class="">
            <ion-card class="center-content point-card space-betweend">
              <img src="../assets/img/koin10.png" style="width: 30%" />
              <h3>{{ koin10_old }}</h3>
            </ion-card>
          </ion-col>
        </ion-row>

        <!-- <div style="margin-top:10px">
        Total Poin:
      </div> -->
      </ion-grid>
    </div>

    <div class="ion-padding" style="margin-bottom: 20px">
      <div style="text-align: center">
        <h1>Tambah/Kurangi Koin</h1>
      </div>

      <ion-item>
        <ion-label position="stacked"
          >Koin 1
          <span
            style="font-weight: 750"
            [ngStyle]="{ color: diff_koin1 < 0 ? 'red' : 'green' }"
            >{{ diff_koin1 ? "(" + diff_koin1 + ")" : "" }}
          </span>
        </ion-label>
        <ion-input
          type="number"
          value="{{ koin1_old }}"
          [(ngModel)]="koin1_new"
        ></ion-input>
        <div slot="end">
          <ion-button (click)="addKoin1()">+</ion-button>
          <ion-button color="danger" (click)="remKoin1()">-</ion-button>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >Koin 5
          <span
            style="font-weight: 750"
            [ngStyle]="{ color: diff_koin5 < 0 ? 'red' : 'green' }"
            >{{ diff_koin5 ? "(" + diff_koin5 + ")" : "" }}
          </span>
        </ion-label>
        <ion-input
          type="number"
          value="{{ koin5_old }}"
          [(ngModel)]="koin5_new"
        ></ion-input>
        <div slot="end">
          <ion-button (click)="addKoin5()">+</ion-button>
          <ion-button color="danger" (click)="remKoin5()">-</ion-button>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >Koin 10
          <span
            style="font-weight: 750"
            [ngStyle]="{ color: diff_koin10 < 0 ? 'red' : 'green' }"
            >{{ diff_koin10 ? "(" + diff_koin10 + ")" : "" }}
          </span>
        </ion-label>
        <ion-input
          type="number"
          value="{{ koin10_old }}"
          [(ngModel)]="koin10_new"
        ></ion-input>
        <div slot="end">
          <ion-button (click)="addKoin10()">+</ion-button>
          <ion-button color="danger" (click)="remKoin10()">-</ion-button>
        </div>
      </ion-item>

      <ion-item counter="true">
        <ion-label position="stacked">Alasan perubahan</ion-label>
        <ion-textarea
          placeholder="Type something here"
          [autoGrow]="true"
          placeholder="Masukkan alasan"
          maxlength="500"
          [(ngModel)]="reason"
        ></ion-textarea>
      </ion-item>

      
      <ion-button id="confirmation-alert"
        >Simpan</ion-button
      >
    </div>
    <div class="card ion-padding">
      <div style="text-align: center">
        <h1>Daftar Transaksi</h1>
      </div>

      <div class="transaction-list-items" *ngFor="let history of historys">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="list-item-time">{{ history["tanggal_transaksi"] }}</p>
              <p class="list-item-alasan">{{ history["detail"] }}</p>
            </ion-col>
            <ion-col style="display: flex" class="list-item-detail">
              <div>
                <p>
                  <img src="../assets/img/koin1.png" />
                </p>
                <p
                  [ngStyle]="{
                    color: history['transaksi_1'] < 0 ? 'red' : 'green'
                  }"
                >
                  {{ history["transaksi_1"] }}
                </p>
              </div>
              <div>
                <p>
                  <img src="../assets/img/koin5.png" />
                </p>
                <p
                  [ngStyle]="{
                    color: history['transaksi_5'] < 0 ? 'red' : 'green'
                  }"
                >
                  {{ history["transaksi_5"] }}
                </p>
              </div>
              <div>
                <p>
                  <img src="../assets/img/koin10.png" />
                </p>
                <p
                  [ngStyle]="{
                    color: history['transaksi_10'] < 0 ? 'red' : 'green'
                  }"
                >
                  {{ history["transaksi_10"] }}
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-content>
</ion-app>

<h1 *ngIf="user_status == 'peserta'">Hayo ngapain 🤭</h1>

<ion-alert
  trigger="confirmation-alert"
  header="Apakah anda ingin menyimpan jumlah koin?"
  [buttons]="alertButtons"
></ion-alert>
