<ion-app *ngIf="user_status == 'admin'">
  <ion-content class="">
    <div class="card-header ion-padding">
      <p class="card-subtitle">Detail Poin: {{ nama_kelompok }}</p>
      <h1 class="card-title">{{ koin_old }} Talenta</h1>

      <!-- <p>
        Total Koin: <span style="font-weight: 750">{{ koin_old }}</span>
      </p> -->
      <p>
        Total Perolehan Koin:
        <span style="font-weight: 750">{{ perolehan_koin_old }}</span>
      </p>
      <ion-grid [fixed]="true">
        <ion-row class="">
          <ion-col size="" class="">
            <ion-card class="center-content point-card space-betweend">
              <img src="../assets/img/koin1.png" style="width: 30%" />
              <h3>{{ koin1 }}</h3>
            </ion-card>
          </ion-col>

          <ion-col size="" class="">
            <ion-card class="center-content point-card space-betweend">
              <img src="../assets/img/koin5.png" style="width: 30%" />
              <h3>{{ koin5 }}</h3>
            </ion-card>
          </ion-col>

          <ion-col size="" class="">
            <ion-card class="center-content point-card space-betweend">
              <img src="../assets/img/koin10.png" style="width: 30%" />
              <h3>{{ koin10 }}</h3>
            </ion-card>
          </ion-col>

          <!-- <ion-col size="" class="">
            <ion-card class="">
              <img src="../assets/img/koin10.png" style="width: 30%" />
              <h3>{{ koin1 }}</h3>
            </ion-card>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </div>

    <div class="ion-padding" style="margin-bottom: 20px">
      <div style="text-align: center">
        <h1>Tambah/Kurangi Koin</h1>
      </div>

      <ion-item>
        <ion-input
          label="Koin"
          labelPlacement="floating"
          type="number"
          value="{{ koin_old }}"
          [(ngModel)]="koin_new"
        ></ion-input>
        <span
            style="font-weight: 750"
            [ngStyle]="{ color: diff_koin < 0 ? 'red' : 'green' }"
            >{{ diff_koin ? "(" + diff_koin + ")" : "" }}
          </span>
      </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-button (click)="addKoin()">+1</ion-button>
              <ion-button color="danger" (click)="remKoin()">-1</ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button (click)="addKoin5()">+5</ion-button>
              <ion-button color="danger" (click)="remKoin5()">-5</ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button (click)="addKoin10()">+10</ion-button>
              <ion-button color="danger" (click)="remKoin10()">-10</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      <ion-item>
        <ion-textarea
          [autoGrow]="true"
          placeholder="Masukkan alasan"
          [(ngModel)]="reason"
          label="Alasan perubahan"
          labelPlacement="floating"
          [counter]="true"
          maxlength="500"
          style="margin-bottom: 20px"
        ></ion-textarea>
      </ion-item>

      <ion-button id="confirmation-alert">Simpan</ion-button>
    </div>
    <div class="card ion-padding">
      <div style="text-align: center">
        <h1>Daftar Transaksi</h1>
      </div>

      <div class="transaction-list-items" *ngFor="let history of historys">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="list-item-time">{{ history["tanggal_transaksi"] }}</p>
              <p class="list-item-alasan">{{ history["detail"] }}</p>
            </ion-col>
            <ion-col style="display: flex" class="list-item-detail">
              <div>
                <p
                  [ngStyle]="{
                    color: history['jumlah_transaksi'] < 0 ? 'red' : 'green'
                  }"
                >
                  {{ history["jumlah_transaksi"] }}
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-content>
  <ion-alert
  trigger="confirmation-alert"
  header="Apakah anda ingin menyimpan jumlah koin?"
  [buttons]="alertButtons"
></ion-alert>
</ion-app>

<h1 *ngIf="user_status == 'peserta'">Hayo ngapain 🤭</h1>


