<ion-accordion-group class="ion-padding">
  <ion-row style="margin-top: 10px; align-items: start">
    <ion-text color="black" style="align-items: start">
      <h1>Katalog</h1>
    </ion-text>
  </ion-row>

  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Merchandise</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Totebag 1.jpeg" />
        <ion-card-header>
          <ion-card-title>Tote Bag 1</ion-card-title>
          <ion-card-subtitle>5 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Totebag 2.jpeg" />
        <ion-card-header>
          <ion-card-title>Tote Bag 2</ion-card-title>
          <ion-card-subtitle>5 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Kertas Binder.jpeg" />
        <ion-card-header>
          <ion-card-title>Kertas Binder</ion-card-title>
          <ion-card-subtitle>5 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Tumbler.jpeg" />
        <ion-card-header>
          <ion-card-title>Tumbler</ion-card-title>
          <ion-card-subtitle>5 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Kaos Kaki.jpeg" />
        <ion-card-header>
          <ion-card-title>Kaos Kaki Panjang</ion-card-title>
          <ion-card-subtitle>5 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Cutlery Set.jpeg" />
        <ion-card-header>
          <ion-card-title>Cutlery Set</ion-card-title>
          <ion-card-subtitle>5 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Kaos Kaki 2.jpeg" />
        <ion-card-header>
          <ion-card-title>Kaos Kaki Pendek</ion-card-title>
          <ion-card-subtitle>10 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Foldable Tote Bag.jpeg" />
        <ion-card-header>
          <ion-card-title>Foldable Tote Bag</ion-card-title>
          <ion-card-subtitle>10 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Tas Sepatu.jpeg" />
        <ion-card-header>
          <ion-card-title>Tas Sepatu</ion-card-title>
          <ion-card-subtitle>10 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Dompet.jpeg" />
        <ion-card-header>
          <ion-card-title>Dompet</ion-card-title>
          <ion-card-subtitle>10 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Kotak Pensil.jpeg" />
        <ion-card-header>
          <ion-card-title>Kotak Pensil</ion-card-title>
          <ion-card-subtitle>10 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/Kipas.jpeg" />
        <ion-card-header>
          <ion-card-title>Kipas Portable</ion-card-title>
          <ion-card-subtitle>10 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-accordion>

  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Item Games</ion-label>
    </ion-item>

    <div class="ion-padding" slot="content">
      <p>Item Outbound</p>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/kacamata renang.jpg" />
        <ion-card-header>
          <ion-card-title>Kacamata Renang</ion-card-title>
          <ion-card-subtitle>3 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/jas hujan.jpeg" />
        <ion-card-header>
          <ion-card-title>Jas Hujan</ion-card-title>
          <ion-card-subtitle>3 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/botol.jpg" />
        <ion-card-header>
          <ion-card-title>Botol nggak bolong</ion-card-title>
          <ion-card-subtitle>2 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/swipe.png" />
        <ion-card-header>
          <ion-card-title>Kartu Swipe Left</ion-card-title>
          <ion-card-subtitle>2 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/double or nothing.png" />
        <ion-card-header>
          <ion-card-title>Kartu Double or Nothing</ion-card-title>
          <ion-card-subtitle>5 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <p>Item Spy Games</p>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/phone.png" />
        <ion-card-header>
          <ion-card-title>Phone-a-Panitia</ion-card-title>
          <ion-card-subtitle>5 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/clue.png" />
        <ion-card-header>
          <ion-card-title>Missing Clue</ion-card-title>
          <ion-card-subtitle>10 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Snack</ion-label>
    </ion-item>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/pop mie.jpg" />
        <ion-card-header>
          <ion-card-title>Pop Mie</ion-card-title>
          <ion-card-subtitle>8 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/snack besar.jpg" />
        <ion-card-header>
          <ion-card-title>Snack Besar</ion-card-title>
          <ion-card-subtitle>15 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/minuman.jpg" />
        <ion-card-header>
          <ion-card-title>Minuman</ion-card-title>
          <ion-card-subtitle>10 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/cookies.jpg" />
        <ion-card-header>
          <ion-card-title>Snack Cookies</ion-card-title>
          <ion-card-subtitle>10 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/beng beng.png" />
        <ion-card-header>
          <ion-card-title>Beng-Beng</ion-card-title>
          <ion-card-subtitle>2 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-padding" slot="content">
      <ion-card>
        <img src="../assets/img/ice cream.jpg" />
        <ion-card-header>
          <ion-card-title>Ice Cream</ion-card-title>
          <ion-card-subtitle>5 Koin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>


  </ion-accordion>
</ion-accordion-group>
