
<ion-app>
  <ion-content>
    <div class="ion-padding">

      <ion-row style="margin-top: 10px; align-items: start">
        <ion-text color="black" style="align-items: start">
          <h1 style="">Rundown</h1>
        </ion-text>
      </ion-row>

      <ion-accordion-group [multiple]="true">
        <ion-accordion value="Jumat">
          <ion-item slot="header" color="light">
            <ion-label>Jumat, 21 April 2023</ion-label>
          </ion-item>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>08.30-09.00</span>
            <span>Open Registrasi</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>09.00-12.00</span>
            <span>On The Way… + Makan Siang</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>12.00-13.45</span>
            <span>Registrasi Peserta + Pembagian Kamar</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>13.45-14.15</span>
            <span>Opening</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>14.15-14.55</span>
            <span>Materi Sesi 1 (Created For Networking)</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>14.55-15.05</span>
            <span>Briefing aktivitas</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>15.05-16.00</span>
            <span>Aktivitas</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>16.00-16.30</span>
            <span>Coffee Break</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>16.30-16.50</span>
            <span>Materi Sesi 2 (Among Us)</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>16.50-17.00</span>
            <span>Briefing aktivitas</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>17.00-18.00</span>
            <span>Aktivitas</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>18.00-19.30</span>
            <span>Makan malam/mandi</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>19.30-21.30</span>
            <span>Spy Games</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>21.30-22.00</span>
            <span>Refleksi</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>22.00-06.30</span>
            <span>Briefing aktivitas</span>
          </div>
        </ion-accordion>
        <ion-accordion value="Sabtu">
          <ion-item slot="header" color="light">
            <ion-label>Sabtu, 22 April 2023</ion-label>
          </ion-item>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>06.30-07.00</span>
            <span>Senam pagi</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>07.00-08.30</span>
            <span>Sarapan dan mandi</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>08.30-08.45</span>
            <span>PaW sesi 3</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>08.45-09.05</span>
            <span>Materi sesi 3 (This Is Me!)</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>09.05-09.15</span>
            <span>Briefing aktivitas</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>09.15-10.15</span>
            <span>Aktivitas</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>10.30-11.00</span>
            <span>Coffee Break</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>11.00-12.00</span>
            <span>Sesi KapSel A/Makan siang</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>12.00-13.00</span>
            <span>Sesi KapSel B/Makan Siang</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>13.00-16.00</span>
            <span>Outbound</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>16.00-18.00</span>
            <span>Istirahat + Coffee Break + Mandi</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>18.00-18.15</span>
            <span>PaW sesi 4</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>18.15-18.35</span>
            <span>Materi sesi 4 (Bridging the Gap)</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>18.35-18.45</span>
            <span>Briefing aktivitas</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>18.45-19.15</span>
            <span>Aktivitas</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>19.15-20.15</span>
            <span>Makan malam</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>20.15-22.15</span>
            <span>Talent Show</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>22.15-07.00</span>
            <span>Istirahat</span>
          </div>
        </ion-accordion>
        <ion-accordion value="Minggu">
          <ion-item slot="header" color="light">
            <ion-label>Minggu, 23 April 2023</ion-label>
          </ion-item>

          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>07.00-08.30</span>
            <span>Sarapan, Mandi, dan Packing</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>08.30-09.30</span>
            <span>Games</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>09.30-11.00</span>
            <span>Ibadah (To Infinity and Beyond)</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>11.00-11.30</span>
            <span>Coffee Break</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>11.30-12.30</span>
            <span>Aktivitas + Closing + Foto</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>12.30-14.00</span>
            <span>Makan siang + Packing</span>
          </div>
          <div class="ion-padding rundown-content"
            slot="content"
            style="">
            <span>14.00-end</span>
            <span>Go Home</span>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ion-content>
</ion-app>
